<p id="notice"><%= notice %></p>

<p>
  <strong>Deposits:</strong>
  <%= @debit_card.deposits %>
</p>

<p>
  <strong>Withdraws:</strong>
  <%= @debit_card.withdraws %>
</p>

<%= link_to 'Edit', edit_debit_card_path(@debit_card) %> |
<%= link_to 'Back', debit_cards_path %>
